// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  --ios-safe-area-top: env(safe-area-inset-top);
  --ios-safe-area-bottom: env(safe-area-inset-bottom);
  --ios-safe-area-left: env(safe-area-inset-left);
  --ios-safe-area-right: env(safe-area-inset-right);
}

* {
  box-sizing: border-box;
}
